<a href="https://colab.research.google.com/github/Shruti38-Learner/Python/blob/main/Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
dict1={'a':1,'b':2,'c':3}

In [5]:
print(dict1['b']) #there is no indexing in dictionary and its an unordered

2

In [6]:
dict2={'a':[1,2,3],'b':2,'c':3}

In [7]:
# real time data store kr sakte hai mostly use hota hai

In [8]:
dict3=[{'a':[1,2,3],'b':2,'c':3},{'a':[1,2,3],'b':2,'c':3},{'a':[1,2,3],'b':2,'c':3}] # list in dictionary

In [9]:
#list are mutuable except those nothing are mutable

In [10]:
employee = {
    "id": 101,
    "name": "John Doe",
    "age": 30,
    "department": "Human Resources",
    "position": "Manager",
    "salary": 75000,
    "full_time": True
}

In [12]:
print('age' in employee)

True

In [13]:
print('age' in employee.keys())

True

In [14]:
print(employee.values())

dict_values([101, 'John Doe', 30, 'Human Resources', 'Manager', 75000, True])

In [15]:
print(employee.items())

dict_items([('id', 101), ('name', 'John Doe'), ('age', 30), ('department', 'Human Resources'), ('position', 'Manager'), ('salary', 75000), ('full_time', True)])

In [19]:
dict2=employee.copy()

In [20]:
print(dict2)

{'id': 101, 'name': 'John Doe', 'age': 30, 'department': 'Human Resources', 'position': 'Manager', 'salary': 75000, 'full_time': True}

In [21]:
employee.clear()

In [22]:
print(employee)

{}

In [25]:
dict2.pop('name')

'John Doe'

In [26]:
print(dict2)

{'id': 101, 'age': 30, 'department': 'Human Resources', 'position': 'Manager', 'salary': 75000, 'full_time': True}

In [28]:
dict2.popitem() #delete random value

('full_time', True)

In [29]:
print(dict2)

{'id': 101, 'age': 30, 'department': 'Human Resources', 'position': 'Manager', 'salary': 75000}

In [32]:
dict2.update({'Country':'India'})

In [33]:
print(dict2)

{'id': 101, 'age': 30, 'department': 'Human Resources', 'position': 'Manager', 'salary': 75000, 'Country': 'India'}

In [34]:
customers = [
    {
        1: 1001,
        "name": "Alice Brown",
        "email": "alice.brown@example.com",
        "phone": "555-123-4567",
        "address": {
            "street": "789 Maple St",
            "city": "Seattle",
            "state": "WA",
            "zip": "98101"
        },
        "orders": [101, 102]
    },
    {
        "id": 1002,
        "name": "Tom Wilson",
        "email": "tom.wilson@example.com",
        "phone": "555-765-4321",
        "address": {
            "street": "456 Birch St",
            "city": "San Francisco",
            "state": "CA",
            "zip": "94105"
        },
        "orders": [103]
    }
]

In [35]:
customers = [
    {
        1.1: 1001,
        "name": "Alice Brown",
        "email": "alice.brown@example.com",
        "phone": "555-123-4567",
        "address": {
            "street": "789 Maple St",
            "city": "Seattle",
            "state": "WA",
            "zip": "98101"
        },
        "orders": [101, 102]
    },
    {
        "id": 1002,
        "name": "Tom Wilson",
        "email": "tom.wilson@example.com",
        "phone": "555-765-4321",
        "address": {
            "street": "456 Birch St",
            "city": "San Francisco",
            "state": "CA",
            "zip": "94105"
        },
        "orders": [103]
    }
]

In [36]:
customers = [
    {
        bool: 1001,
        "name": "Alice Brown",
        "email": "alice.brown@example.com",
        "phone": "555-123-4567",
        "address": {
            "street": "789 Maple St",
            "city": "Seattle",
            "state": "WA",
            "zip": "98101"
        },
        "orders": [101, 102]
    },
    {
        "id": 1002,
        "name": "Tom Wilson",
        "email": "tom.wilson@example.com",
        "phone": "555-765-4321",
        "address": {
            "street": "456 Birch St",
            "city": "San Francisco",
            "state": "CA",
            "zip": "94105"
        },
        "orders": [103]
    }
]

In [37]:
#i cannot put list or dictionary in key as they are mutuable i need to put the key which are immutable

In [39]:
order = dict(
    order_id= 101,
    customer= dict(
        id= 1001,
        name= "Alice Brown",
        email= "alice.brown@example.com")
)# another way to write dictionary