<a href="https://colab.research.google.com/github/Shruti38-Learner/Python/blob/main/Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Remove Duplicates

In [ ]:
my_list = [1, 2, 3, 4, 2, 5, 6, 3, 7, 8, 6]
duplicates=[]
for item in my_list:
  if my_list.count(item)>1:
    duplicates.append(item)
print(duplicates)

[2, 3, 2, 6, 3, 6]

In [ ]:
my_list = [1, 2, 3, 4, 2, 5, 6, 3, 7, 8, 6]
duplicates=[]
for item in my_list:
  if my_list.count(item)>1:
    if item not in duplicates:
      duplicates.append(item)
print(duplicates)

[2, 3, 6]

Python Program: Count Occurrences of Each Element in a List

In [ ]:
# Input list
input_list = [1, 2, 3, 4, 5, 6, 3, 7, 8, 2, 9, 3]

occurance={}
for i in input_list:
  occurance[i]=occurance.get(item, 0) + 1

for item, count in occurance.items():
    print(f"{item}: {count}")

1: 1
2: 1
3: 2
4: 1
5: 1
6: 1
7: 1
8: 1
9: 1

Another Variation: Count Character Occurrences in a String

In [ ]:
# Input string
input_string = "hello world"

# Create a dictionary to count occurrences
occurrences = {}

# Count the occurrences of each character
for char in input_string:
    occurrences[char] = occurrences.get(char, 0) + 1

# Output the result
print("Occurrences of each character:")
for char, count in occurrences.items():
    print(f"{char}: {count}")

Occurrences of each character:
h: 1
e: 1
l: 3
o: 2
 : 1
w: 1
r: 1
d: 1

In [ ]:
def driver_age(age=0):
  age=int(input("what\'s your age?"))
  if age>18:
    print("powering on.Enjoy the ride!")
  elif age ==18:
    print("congratulation on your first ride!")
  else:
    print("you are too young!,Powering off")

In [ ]:
driver_age()

what's your age?45
powering on.Enjoy the ride!

In [ ]:
def highest_even(*args):
  even=[]
  for i in args:
    if i%2==0:
      even.append(i)
  return max(even)

In [ ]:
highest_even(10,20,30,40)

40

In [ ]:
def highest_even(*args):
  even=[]
  for i in args:
    if i%2==0:
      even.append(i)
    return max(even) #indentation changed

In [ ]:
highest_even(10,20,30,40)

10

In [1]:
data = input("Enter something: ")
while data != "quit":
    print(f"You entered: {data}")
    data = input("Enter something: ")

Enter something: 3
You entered: 3
Enter something: quit

In [2]:
while (data := input("Enter something: ")) != "quit":
    print(f"You entered: {data}")

Enter something: quit

In [4]:
value = compute_value()
if value > 10:
    print(f"Value is large: {value}")

NameError: name 'compute_value' is not defined

In [5]:
if (value := compute_value()) > 10:
    print(f"Value is large: {value}")

NameError: name 'compute_value' is not defined

In [6]:
results = []
for x in range(10):
    y = x * x
    if y > 10:
        results.append(y)

In [7]:
results = [y for x in range(10) if (y := x * x) > 10]