How to open file

In [2]:
my_file=open('file.txt')

In [4]:
print(my_file.read())

Hey everyone how are you do python daily and keep motivates yourself

In [7]:
with open ('file.txt') as my_file:
    print(my_file.read())

Hey everyone how are you do python daily and keep motivates yourself

In [8]:
with open ('file.txt',mode='r') as my_file:
    print(my_file.read()) ## when we olny read

Hey everyone how are you do python daily and keep motivates yourself

In [14]:
with open ('file.txt',mode='r+') as my_file:
    test=my_file.write('hey shruti')
   # print(my_file.read())

In [ ]:
with open ('file.txt',mode='w') as my_file:
    test=my_file.write('hey shruti')
    #print(my_file.read()) # this will help to replace your value

In [19]:
with open ('file.txt',mode='a') as my_file:
    test=my_file.write(' hey shruti you are good girl ')
    #print(my_file.read()) # this will help to replace your value

In [47]:
import pandas as pd

file_path = '/Users/shrutivarshney/Downloads/Python Code/sales_data_sample.csv'

# Try using 'ISO-8859-1' encoding
data = pd.read_csv(file_path, encoding='ISO-8859-1')
print(data.head())  # Display the first few rows of the data

   ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
0        10107               30      95.70                2  2871.00
1        10121               34      81.35                5  2765.90
2        10134               41      94.74                2  3884.34
3        10145               45      83.26                6  3746.70
4        10159               49     100.00               14  5205.27

         ORDERDATE   STATUS  QTR_ID  MONTH_ID  YEAR_ID  ...  \
0   2/24/2003 0:00  Shipped       1         2     2003  ...
1    5/7/2003 0:00  Shipped       2         5     2003  ...
2    7/1/2003 0:00  Shipped       3         7     2003  ...
3   8/25/2003 0:00  Shipped       3         8     2003  ...
4  10/10/2003 0:00  Shipped       4        10     2003  ...

                    ADDRESSLINE1  ADDRESSLINE2           CITY STATE  \
0        897 Long Airport Avenue           NaN            NYC    NY
1             59 rue de l'Abbaye           NaN          Reims   NaN
2  27 rue du Colonel Pierre Avia           NaN          Paris   NaN
3             78934 Hillside Dr.           NaN       Pasadena    CA
4                7734 Strong St.           NaN  San Francisco    CA

  POSTALCODE COUNTRY TERRITORY CONTACTLASTNAME CONTACTFIRSTNAME DEALSIZE
0      10022     USA       NaN              Yu             Kwai    Small
1      51100  France      EMEA         Henriot             Paul    Small
2      75508  France      EMEA        Da Cunha           Daniel   Medium
3      90003     USA       NaN           Young            Julie   Medium
4        NaN     USA       NaN           Brown            Julie   Medium

[5 rows x 25 columns]

Class.ipynb                 Inheritance.ipynb
Class_project.ipynb         comprhenssion,lambda.ipynb
Decorators.ipynb            error handling.ipynb
File.txt                    sales_data_sample.csv

'/Users/shrutivarshney/Downloads/Python Code'