<a href="https://colab.research.google.com/github/Shruti38-Learner/Python/blob/main/First_GUI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
picture = [
    [0, 0, 0, 1, 0, 0, 0],
    [0, 0, 1, 1, 1, 0, 0],
    [0, 1, 1, 1, 1, 1, 0],
    [1, 1, 1, 1, 1, 1, 1],
    [0, 0, 0, 1, 0, 0, 0],
    [0, 0, 0, 1, 0, 0, 0],
]

In [1]:
# print * from picture where ever it is 1

In [4]:
for row in picture:
  for pixel in row:
    if pixel==1:
      print('*')

*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*

In [5]:
for row in picture:
  for pixel in row:
    if pixel==1:
      print('*',end='')

******************

In [9]:
for row in picture:
  for pixel in row:
    if pixel==1:
      print('*',end='')
    else:
      print(' ')

*




***


*****
*******


*





*

In [10]:
for row in picture:
  for pixel in row:
    if pixel==1:
      print('*',end='')
    else:
      print(' ',end='')

   *     ***   ***** *******   *      *

In [11]:
for row in picture:
  for pixel in row:
    if pixel==1:
      print('*',end='')
    else:
      print(' ',end='')
  print('')

   *
  ***
 *****
*******
   *
   *

Simple Right-Angled Triangle

In [18]:
n=5
for i in range(n):
  print("*" * i)
print(end='')

*
**
***
****

 Inverted Triangle

In [22]:
n=5
for i in range(n,0,-1):
  print("*" * i)

*****
****
***
**
*

Pyramid

In [28]:
n=5
for i in range(1,n+1):
  print(" " *(n-i)+ "*" * (2*i-1))

    *
   ***
  *****
 *******
*********