<a href="https://colab.research.google.com/github/Shruti38-Learner/Python/blob/main/Function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# we can define function or #invoke function

In [2]:
def say_something(): #we have defined
  print("Hello")

In [4]:
say_something() #now we call

Hello

In [5]:
# function rule are similar ot variable call

In [10]:
def greet(name):
   print(f"{name} Hello")

In [11]:
greet("Shruti")

Shruti Hello

In [15]:
def add(a,b):
  return a+b

In [16]:
add(3,4)

7

In [17]:
def calculate_total_cost(price_per_item, quantity):
    """
    Calculate the total cost given the price per item and quantity.
    """
    total_cost = price_per_item * quantity # price_per_item and quantity are parameters
    return total_cost

In [18]:
calculate_total_cost(10,20)

200

In [20]:
calculate_total_cost( quantity=11,price_per_item=20) #positional argument we can change the postion of argument

220

In [21]:
def calculate_total_cost(price_per_item=20, quantity=30):
    """
    Calculate the total cost given the price per item and quantity.
    """
    total_cost = price_per_item * quantity # price_per_item and quantity are default parameters given
    return total_cost

In [22]:
calculate_total_cost(40,50)

2000

In [23]:
calculate_total_cost("shruti",50)

'shrutishrutishrutishrutishrutishrutishrutishrutishrutishrutishrutishrutishrutishrutishrutishrutishrutishrutishrutishrutishrutishrutishrutishrutishrutishrutishrutishrutishrutishrutishrutishrutishrutishrutishrutishrutishrutishrutishrutishrutishrutishrutishrutishrutishrutishrutishrutishrutishrutishruti'

In [ ]:
#you can even give string in this case which make it dynamic

In [25]:
def greater_number(x, y):
    """
    Compare two numbers and return the greater one.
    """
    if x > y:
        return x
    elif y > x:
        return y
    else:
        return "Both are equal"

In [26]:
# Calling the function
greater = greater_number(7, 5)
print(f"The greater number is: {greater}")

The greater number is: 7

In [27]:
def funct1(a,b):
  def funct2(c,d):
    return c+d
  return a+b

In [28]:
funct1(2,3)

5

In [32]:
def funct1(a,b):
  def funct2(c,d):
    return c+d
  return funct2(a,b)

In [33]:
funct1(2,3)

5

In [ ]:
'''How It Works
Outer Function (funct1):

Accepts two parameters a and b.
Contains a nested function (funct2).
Inner Function (funct2):

Accepts two parameters c and d.
Returns their sum: c + d.
Execution Flow:

When funct1 is called, it internally calls funct2, passing a and b as arguments.
The result of funct2(a, b) is returned by funct1.'''