<a href="https://colab.research.google.com/github/Shruti38-Learner/Python/blob/main/Loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
'''for item in sequence:
    # Code to execute''

In [1]:
for item in "shruti":
  print(item)

s
h
r
u
t
i

In [2]:
for item in [1,2,3,4]: #list
  print(item)

1
2
3
4

In [3]:
for item in (1,2,3,4): #tuple
  print(item)

1
2
3
4

In [4]:
for item in {1,2,3,4}: #set
  print(item)

1
2
3
4

In [5]:
for item in {1,2,3,4}: #set
  print(item)
print(item)

1
2
3
4
4

In [6]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [7]:
for i in range(5):  # range(5) generates numbers from 0 to 4
    print(i)

0
1
2
3
4

In [8]:
'''for outer_variable in outer_sequence:
    for inner_variable in inner_sequence:
        # Code block to execute
'''

'for outer_variable in outer_sequence:\n    for inner_variable in inner_sequence:\n        # Code block to execute\n'

In [9]:
for item in [1,2,3,4]:
  for items in [5,6,7,8]:
    print(item,items)

1 5
1 6
1 7
1 8
2 5
2 6
2 7
2 8
3 5
3 6
3 7
3 8
4 5
4 6
4 7
4 8

In [10]:
for item in {1,2,3,4}:
  for items in {5,6,7,8}:
    print(item,items) #set are unorderd

1 8
1 5
1 6
1 7
2 8
2 5
2 6
2 7
3 8
3 5
3 6
3 7
4 8
4 5
4 6
4 7

In [13]:
for x in range(3):  # Outer loop
    for y in range(2):  # Inner loop
        print(f"({x},{y})")

(0,0)
(0,1)
(1,0)
(1,1)
(2,0)
(2,1)

In [14]:
my_dict = {
    "name": "Alice",
    "age": 25,
    "city": "New York"
}

In [16]:
for item in my_dict:
  print(item)

name
age
city

In [17]:
for item in my_dict.items():
  print(item)

('name', 'Alice')
('age', 25)
('city', 'New York')

In [18]:
for item in my_dict.values():
  print(item)

Alice
25
New York

In [20]:
my_list=[1,2,3,4,5,6]
sum=0
for item in my_list:
  sum+=item #sum=sum+item
print(sum)

21

In [21]:
total = 0
for num in range(1, 11):  # Iterates from 1 to 10
    total += num
print("Sum:", total)

Sum: 55

Enumerate

In [23]:
'''enumerate(iterable, start=0)The enumerate() function in Python is used to loop through an iterable while keeping track of the index of each element.
 It simplifies the task of accessing both the index and the value during iteration.'''

'enumerate(iterable, start=0)The enumerate() function in Python is used to loop through an iterable while keeping track of the index of each element.\n It simplifies the task of accessing both the index and the value during iteration.'

In [24]:
fruits = ["apple", "banana", "cherry"]

for index, fruit in enumerate(fruits):
    print(f"Index {index}: {fruit}")

Index 0: apple
Index 1: banana
Index 2: cherry

In [25]:
numbers = [10, 20, 30, 40]
for index, value in enumerate(numbers):
    numbers[index] = value * 2
print(numbers)

[20, 40, 60, 80]