<a href="https://colab.research.google.com/github/Shruti38-Learner/Python/blob/main/set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# set are unordered

In [2]:
#set except unique value only

In [9]:
set1={1,2,3,4,3,3}

In [5]:
set1[0:2]

TypeError: 'set' object is not subscriptable

In [6]:
set1[3]

TypeError: 'set' object is not subscriptable

In [7]:
print(2 in set1)

True

In [10]:
len(set1) # will give unique value

4

In [11]:
set2=set1.copy()

In [12]:
print(set2)

{1, 2, 3, 4}

In [13]:
set1.clear()

In [14]:
print(set1)

set()

In [15]:
print(set2)

{1, 2, 3, 4}

In [26]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

In [18]:
print(set1.difference(set2))# difference

{1, 2, 3}

In [21]:
set3=set1.discard(5)
print(set1)

{1, 2, 3, 4}

In [25]:
set3=(set1.difference_update(set2)) # The difference_update() method in Python modifies the original set by removing elements that are present in another set (or sets). Itâ€™s an in-place operation, meaning the original set is updated and no new set is created.
print(set1)

{1, 2, 3}

In [27]:
print(set1.intersection(set2))

{4, 5}

In [28]:
set1.isdisjoint(set2) #must not be the common value

False

In [29]:
set1.union(set2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [30]:
set3 = {1, 2, 3}
set4 = {1, 2, 3, 4, 5}

In [31]:
print(set1.issubset(set4))

True

In [32]:
set3.issuperset(set4)

False

In [33]:
set4.issuperset(set3)

True